<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="grid grid-cols-[1fr,9fr] h-full bg-gray-300">
  <nav class="h-full bg-cyan-400 text-white flex flex-col gap-4 p-4">
    <p>Home</p>
    <p>Team</p>
    <p>Tasks</p>
    <p>Leaves</p>
    <p>Projects</p>
    <p>Timesheats</p>
    <p>Contacts</p>
    <p>Account</p>
  </nav>
  
  <div id="non-nav" class="m-4">
  
  <p class="font-bold text-xl text-center p-4"> Overview </p>
  <div class="grid grid-cols-3 grid-flow-row font-semibold text-center bg-white shadow-lg">
    <div>
      <p> Total Account Balance </p>
      <p> <%= accountBalance.amount %> </p>
    </div>
    <div>
      <p> Total Pending </p>
      <p> <%= pending.amount %> </p>
    </div>
    <div>
      <p> Total Processed </p>
      <p> <%= processedData.amount %> </p>
    </div>
  </div>
<br>
<hr>

  <p class="font-bold text-xl text-center p-4"> Recent Activity </p>
  <div id="firstLine" class="grid grid-cols-4 grid-flow-row underline font-semibold bg-white shadow-lg">
    <p> Name </p>
    <p> Transaction </p>
    <p> Company </p>
    <p> Email </p>
  </div>
  <hr>
  
  <% data.forEach((item) => { %>
    <div id="person" class="grid grid-cols-4 grid-flow-row">
      <p> <%= item.name %> </p>
      <p> <%= item.balance %> </p>
      <p> <%= item.company %> </p>
      <p> <%= item.email %> </p>
    </div>
  <% }) %>
    
</div>

</body>
</html>